body {
    margin: 0;
}

.loadingText {
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    color: rgb(117, 117, 117);
    transform: translate(-50%, -50%);
}

.basicView {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    transition: .5s ease;
}

.relationContainer {
    flex: 1;
    background-color: rgb(198, 228, 255);
}

.algebraContainer {
    flex: 1;
    background-color: #FFF;
}

.menu {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: .5em .7em;
}

.menu a {
    color: rgb(82, 82, 82);
}

.notice {
    position: fixed;
    z-index: 200;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgb(58, 137, 255);
    color: #FFF;
    text-align: center;
    transform: translateY(-100%);
    transition: .5s ease;
}

.notice span {
    display: block;
    padding: 1em .5em;
    font-size: 1.5em;
    float: left;
}

.notice a {
    display: block;
    padding: 1em .5em;
    font-size: 1.5em;
    float: right;
    color: #FFF;
}

.floatLayer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    z-index: -1;
    background-color: #FFF;
    transition: .5s ease;
}

.floatLayer .close {
    display: block;
    position: absolute;
    z-index: 51;
    right: 0;
    top: 0;
    text-decoration: none;
    color: black;
    margin: .5em;
    font-size: 2em;
    line-height: .5em;
}

.floatContent {
    position: relative;
    margin: 1em;
    max-width: 100%;
}

.floatContent p,
.floatContent h1 {
    margin: .5em 0;
}

.floatContent img {
    max-width: 100%;
}

.floatContent a {
    color: #1090ff;
    text-decoration: none;
}

.floatContent a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .basicView {
        flex-direction: column;
    }
}