body {
    margin: 0;
}

.loadingText {
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    color: rgb(117, 117, 117);
    transform: translate(-50%, -50%);
}

.basicView {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    transition: .5s ease;
}

.relationContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgb(77 180 255);
}

.formInput {
    flex: 1;
}

.formInput textarea {
    overflow: auto;
    font-family: '\5FAE\8F6F\96C5\9ED1';
    color: #e9e9e9;
    background-color: rgb(77 180 255);
    text-align: left;
    border: 0;
    width: 100%;
    height: 100%;
    padding: .5em;
    font-size: 1em;
    outline: 0;
    resize: none;
}

.formInput textarea::placeholder {
    color: #e9e9e9;
}

.formNameInput {
    display: block;
    border: 0;
    width: 100%;
    font-size: 1.5em;
    padding: 0.2em;
    background-color: #d7efff;
    color: #515151;
    text-align: center;
}

.footBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.footBtn .add,
.footBtn .view {
    display: block;
    flex: 1;
    padding: .5em;
    text-decoration: none;
    text-align: center;
    color: #FFF;
    font-size: 1.5em;
    word-break: break-all;
    transition: .5s ease;
}

.footBtn .add {
    background-color: #8edaff;
}

.footBtn .add:hover {
    background-color: #7ad3ff;
}

.footBtn .view {
    background-color: #75c5ff;
}

.footBtn .view:hover {
    background-color: #4fb1f8;
}

.algebraContainer {
    position: relative;
    flex: 1;
    background-color: #FFF;
}

.menu {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: .5em .7em;
}

.menu a {
    color: rgb(82, 82, 82);
}

.notice {
    position: fixed;
    z-index: 200;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgb(58, 137, 255);
    color: #FFF;
    text-align: center;
    transform: translateY(-100%);
    transition: .5s ease;
}

.notice span {
    display: block;
    padding: 1em .5em;
    font-size: 1.5em;
    float: left;
}

.notice a {
    display: block;
    padding: 1em .5em;
    font-size: 1.5em;
    float: right;
    color: #FFF;
}

.floatLayer,
.tableLayer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    z-index: -1;
    background-color: #FFF;
    transition: .5s ease;
}

.floatLayer .close,
.tableLayer .close {
    display: block;
    position: fixed;
    z-index: 51;
    right: 0;
    top: 0;
    text-decoration: none;
    color: black;
    margin: .5em;
    font-size: 2em;
    line-height: .5em;
}

.tableLayer .close {
    z-index: 60;
}

.floatContent,
.tableContent {
    position: relative;
    margin: 1em;
    max-width: 100%;
}

.floatContent p,
.floatContent h1 {
    margin: .5em 0;
}

.floatContent img {
    max-width: 100%;
}

.floatContent a {
    color: #1090ff;
    text-decoration: none;
}

.floatContent a:hover {
    text-decoration: underline;
}

.singleThumb {
    display: inline-block;
    width: 12em;
    max-width: 100%;
    background-color: rgb(255, 236, 212);
    border-radius: .4em;
    padding: .4em;
    margin: 0 1em 1em 0;
    transition: 1s ease;
}

.singleThumb:hover {
    background-color: rgb(255, 221, 180);
}

.singleThumb a {
    display: block;
    word-break: break-all;
    height: 8em;
    overflow-y: hidden;
    text-overflow: ellipsis;
    text-decoration: underline;
    color: #515151;
}

.singleThumb span {
    font-size: 1.5em;
    display: block;
    word-break: break-all;
}

@media screen and (max-width: 600px) {
    .basicView {
        flex-direction: column;
    }
}